@use "../../../../styles/utils/variables.scss" as var; 

.imgwrapper {
    width: 50%;
    height: 100vh;
    display: grid; 
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 20%);
    @media screen and (max-width: map-get(var.$breakpoints, "tablet-up")){
        width: 40%; 
    }
    @media screen and (max-width: map-get(var.$breakpoints, "phone-down")){
        width: 100%; 
    }

}

.firstimg {
    z-index: 1; 
    grid-column: 1 / 4;
    grid-row:  3 / 5; 
    width: 100%;
    height: 100%; 
    @media screen and (max-width: map-get(var.$breakpoints, "desktop-up")){
        grid-row:  4 / 5; 
    }
    @media screen and (max-width: map-get(var.$breakpoints, "tablet-up")){
        grid-column: 1 / 7;
        grid-row:  5 / 6; 
    }
    @media screen and (max-width: map-get(var.$breakpoints, "phone-down")){
        grid-column: 1 / 7;
        grid-row:  4 / 6; 
        opacity: 0; 
    }
}

.secondimg {
    grid-column: 3 / 9;
    grid-row:  2 / 6; 
    @media screen and (max-width: map-get(var.$breakpoints, "desktop-up")){
        grid-row: 2 / 4;
        grid-column: 2 / 9;
    }
    @media screen and (max-width: map-get(var.$breakpoints, "tablet-up")){
        grid-column: 1 / 9;
        grid-row: 2 / 4; 
    }
    @media screen and (max-width: map-get(var.$breakpoints, "phone-down")){
        grid-row: 2 / 6; 
    }
}

.thirdimg {
    grid-column: 8 / 13;
    grid-row:  1 / 4; 
    @media screen and (max-width: map-get(var.$breakpoints, "desktop-up")){
        grid-row:  3 / 5; 
    }
    @media screen and (max-width: map-get(var.$breakpoints, "tablet-up")){
        grid-column: 7 / 13;
        grid-row:  4 / 5; 
    }
    @media screen and (max-width: map-get(var.$breakpoints, "phone-down")){
        grid-row: 3 / 5; 
    }
}

.fullHeight {
    height: 100%; 
}
