@import "../../../../styles/utils/breakpoints.scss";

.descriptionwrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktopS {
        width: 100%;
        height: 50%;
    }
}

.descriptionsubwrapper {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    @include tabletXs {
        font-size: 40px;
    }
    @include mobileL {
        // font-size: 40px;
        position: relative;
        bottom: 40px;
    }
    @include mobileM {
        font-size: 30px;
    }
    @include mobileS {
        font-size: 25px;
    }
}

.description {
    @include tabletXs {
        font-size: 16px;
    }
    @include mobileM {
        font-size: 13px;
    }
    @include mobileS {
        font-size: 11px;
    }
}
