@use "../../../../styles/utils/variables.scss" as var;
@import "../../../../styles/utils/breakpoints.scss";

.descriptionsubwrapper {
    width: 95%;
}

.reduceWidth {
    width: 60%;
    @include desktopL {
        width: 95%;
    }
}
