@import "../../../styles/utils/breakpoints.scss";

.mainwrapper {
    height: 100vh;
    display: flex;
    @include desktopS {
        flex-direction: column;
        margin-bottom: 20px;
    }
}

.reverserow {
    flex-direction: row-reverse;
    @include desktopS {
        flex-direction: column;
    }
}
