@import "../../styles/utils/variables.scss";
@import "../../styles/utils/breakpoints.scss";

.defaultStyles {
    border: 2px solid white;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 300ms;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $textFont;
    font-size: $textFontSize;
    &:hover {
        background-color: white;
    }
    @include mobileM {
        width: 150px !important;
        height: 50px !important;
        font-size: 13px;
    }
    @include mobileS {
        width: 100px !important;
        height: 30px !important;
        font-size: 10px;
    }
}
