@import "../../../styles/utils/breakpoints.scss";

.mainwrapper {
    height: 70vh;
    @include tabletS {
        // border: 2px solid black;
        height: 140vh;
    }
}

.title {
    text-align: center;
}
