.mainwrapper {
    // border: 2px solid purple; 
    display: flex; 
}



.imgfirstwrapper {
    z-index: 1; 
    grid-column: 1 / 5;
    grid-row:  3 / 5; 
    width: 100%;
}

.imgsecondwrapper {
    grid-column: 4 / 9;
    grid-row:  2 / 6; 
}

.imgthirdwrapper {
    grid-column: 8 / 13;
    grid-row:  1 / 4; 
}

.descriptionwrapper {
    width: 50%;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

.descriptionsubwrapper {
    // border: 2px solid red; 
    width: 95%; 
}


