@import "../../styles/utils/variables.scss";

.defaultstyles {
    font-size: $font-size-title;
    font-family: $font-title;
    // transform: translateY(100px);
}

.mainwrapper {
    overflow: hidden;
}
