.mainwrapper {
    // border: 2px solid purple;
    height: 100vh;
}

.titlewrapper {
    text-align: center; 
    height: 30%;

}

.title {
    // border: 2px solid orange; 
    margin-bottom: 0; 
}

.conditionwrapper {
    // border: 2px solid red; 
    height: 60%;
    display: flex; 
    flex-direction: column; 
}