@use "../../../styles/utils/variables.scss" as var; 

.mainwrapper {
    display: flex; 
    flex-direction: row; 
    @media screen and (max-width: map-get(var.$breakpoints, "phone-down")){
        flex-direction: column; 
    }
}

.imgfirstwrapper {
    z-index: 1; 
    grid-column: 1 / 5;
    grid-row:  3 / 5; 
    width: 100%;
}

.imgsecondwrapper {
    grid-column: 4 / 9;
    grid-row:  2 / 6; 
}

.imgthirdwrapper {
    grid-column: 8 / 13;
    grid-row:  1 / 4; 
}

.descriptionwrapper {
    width: 50%;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    @media screen and (max-width: map-get(var.$breakpoints, "phone-down")){
        width: 100%;
    }
}

.descriptionsubwrapper {
    width: 95%; 
}
