@import "../../styles/utils/variables.scss";
@import "../../styles/utils/breakpoints.scss";

.wrapper {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}

.link {
    color: black;
}

.purpleColor {
    color: #9E0E40;
    transition: color 300ms;
}

.blackColor {
    color: black;
    transition: color 300ms;
}

