@use './variables.scss' as var; 

@mixin titlezonecontact {
    font-size: 40px; 
    font-family: var.$font-title; 
}

@mixin titlesectionhome {
    font-size: 50px; 
    font-family: var.$font-title; 
}

@mixin inputstyle {
    outline: none; 
    border: 1px solid lightgrey; 
}