$font-title: "DancingScript";
$font-size-title: 50px;
$color-primary: pink;
$textFont: "Montserrat";
$textFontSize: 20px;
$lineHeight: 30px;

$breakpoints: (
    "mobileS": 280px,
    "phone-up": 375px,
    "phone-down": 500px,
    "tablet-up": 768px,
    "tablet-down": 900px,
    "desktop-up": 1024px,
    "desktop-down": 1280px,
    "widescreen-up": 1440px,
);
