.wrapper {    
    display: flex;
    height: 90%; 
    width: 80%; 
    margin: 0 auto; 
    justify-content: space-around; 
    
}

.wrapperImageLeft {    
    width: 350px;
    height: 500px; 
    position: relative; 
    // left: 50px; 
    & > h2 {        
        position: absolute; 
    }
}

.imageLeft {
    width: 100%;
    height: 100%;
}

.wrapperImageRight {    
    width: 300px;
    height: 400px; 
    margin: auto 0; 
    position: relative; 
    right: 50px;         
}

.imageRight{
    width: 250px;
    height: 90%;
    text-align: right; 
    position: absolute; 
    z-index: 0;
    bottom: 0;   
    right: 0; 
}

.titleImageRight {
    position: absolute; 
    z-index: 1;
    font-size: 40px;
    width: 50%;
    top: -35px;     
}
