@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.wrapper {
    overflow: hidden;
    // border: 2px solid red;
    margin-right: 50px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
