.header {
    display: flex;
    align-items: center;    
    height: 100px; 
    width: 100vw; 
    position: fixed; 
    z-index: 10; 
    background-color: transparent; 
}

.menu{
    margin: 0;    
    width: 50%;
    display: flex;     
    justify-content: space-between;
    align-items: center;     
    & > a:last-child {
        display: flex; 
        justify-content:center;
        align-items: center; 
        text-align: center; 
        border: 2px solid pink; 
        height: 30px; 
        border-radius: 5px;
        transition: all 500ms 2ms; 
        &:hover {
        background-color: pink;
        color: white; 
    }
}
}

.link { 
    text-align: center; 
    // border: 2px solid red; 
    text-decoration: none;
    color: white; 
    font-weight: bold;
    width: 30%; 
    height: 100%; 
}

.img{
    margin-left: 100px; 
    // border: 2px solid red; 
    height:100%; 
}

.logo {
    // border: 2px solid red; 
    display: flex; 
    align-items: center; 
    width: 30%; 
    height: 100%; 
}

.menuhidden {
    border: 2px solid red; 
    width: 100vw; 
    height: 30vh; 
    position: absolute; 
    background-color: transparent; 
}


