// @use "../../styles/utils/variables.scss" as var; 
@import  "../../styles/utils/variables.scss" ;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100vw;
    position: fixed;
    z-index: 10;
    background-color: transparent;
}


.img{
    margin-top: 40px;
    height:200px; 
    width: 300px;
    z-index: 10;
    @media only screen and (max-width: map-get($breakpoints, "phone-up")){
        margin-top: 10px;
        width: 150px;
        height: 150px;
    }
    @media only screen and (max-width: map-get($breakpoints, "tablet-down")){
        // border: 2px solid red;
        margin-left: -30px;
        width: 200px;
        height: 200px;
    }
}

.logo {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    // color: white;
}


.menu {
    width: 50%; 
    height: 100%; 
    position: relative; 
    margin-right: 20px; 
    display: flex; 
    align-items: center; 
}

.menulayout {
    position: absolute; 
    width: 30px; 
    height: 30%; 
    right: 0; 
    cursor: pointer; 
    z-index: 10; 
    margin-right: 10px; 
}

.firstline,.secondline, .thirdline  {
    background-color: #9E0E40;
    // transition: background-color 200ms;
    position: absolute; 
    top: 10%; 
    width: 100%;
    height: 4px; 
    transition: all 200ms;
}

.secondline {
    top: 35%; 
    
}

.thirdline {
    top: 60%;
}

.movefirstline, .movethirdline,  .movesecondline {
    background-color: black;
    transition: background-color 200ms;
}

.movefirstline {
    top: 30%; 
    transform: rotate(45deg); 
    transition: transform 200ms;
}

.movethirdline {
    top: 30%; 
    transform: rotate(-45deg); 
    transition: transform 200ms;
}

.movesecondline {
    transform: scale(0); 
    transition: transform 200m; 
}

.inactifmenu {
    position: fixed; 
    transform: translateX(100%); 
    top: 0; 
    left: 0; 
    height: 100vh;  
    width: 100vw; 
    display: flex; 
    
}

.actifmenu {
    transform: translateX(-0%); 
    transition: transform 400ms; 
    background-color: $color-primary;
}

.wrapperlink {
    border: 5px solid black; 
    font-size: 50px; 
    display: flex; 

}

.list {
    list-style-type: none;
    text-decoration: none; 
    width: 100%;
    font-size: 45px;   
}

.link {
    text-decoration: none; 
    color: black; 
    &:hover {
        color: white; 
        transition: all 300ms; 
        // transform: scale(2); 
    }
}

.wrapperlist {
    margin-top: 0px; 
    width: 50%;  
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin: 0 auto; 
    text-align: center; 
    
}

.sectionimage {
    width: 50%; 
}

.socialNetwork {
    position: fixed;
    top: 40%;
    left: 80px;
    display: flex;
    flex-direction: column;
    height: 100px;
}

