@use "../../../../styles/utils/variables.scss" as var;

.imgwrapper {
    display: flex; 
    flex-wrap: wrap; 
    width: 90%;
    margin: 0 auto; 
    @media screen and (max-width: map-get(var.$breakpoints, "tablet-up")){
        flex-direction: column; 
    }
}

.firstimg{
    width: 48%; 
    height: 200px;
    margin: 5px 5px;
}

.secondimg{
    width: 47%; 
    height: 200px;
    margin: 5px 5px;
}

.firstimg, .secondimg {
    @media screen and (max-width: map-get(var.$breakpoints, "tablet-up")){
        width: 100%; 
    }
}


.thirdimg, .fourthimg, .fifthimg {
    width: 31.5%; 
    height: 200px;
    margin: 5px 5px; 
    @media screen and (max-width: map-get(var.$breakpoints, "tablet-up")){
        width: 100%; 
    }
}

.title {
    margin-left: 20px; 
}


