@use "../../../../styles/utils/variables.scss" as var;
@import "../../../../styles/utils/breakpoints.scss";

.imgwrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
    width: 90%;
    height: 50vh;
    margin: 0 auto;
}

.title {
    margin-left: 20px;
}

.slide {
    width: 100%;
    height: 60%;
    display: flex;
    overflow-x: scroll;
    & > img {
        margin: 0px 20px;
        width: 90%;
        height: 100%;
    }
}

.slide::-webkit-scrollbar {
    display: none;
}
