.mainwrapper {
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: pink;
    margin-top: 50px;
}

.firstwrapper {
    display: flex; 
    // justify-content: space-between; 
    height: 70%;

}

.imgwrapper {
    width: 30%;
    height: 100%;
}

.img {
    // width: 30%; 
    height: 100%; 
}

.menu {
    width: 70%; 
    display: flex; 
    justify-content: space-around;
}

.wrapperlink {
    display: flex; 
    flex-direction: column;
    // justify-content: space-evenly; 
}

.bottomwrapper {
    border-top: 1px solid grey; 
}

.icon {
    display: flex;
    justify-content: space-between; 
}

.conditionsdevente ,.mentionslegales ,.contact, .follow {
    font-size: 20px;
    font-weight: bold; 
}

.conditionsdevente ,.mentionslegales ,.contact {
    text-decoration: none;
    color: black; 
    margin-bottom: 10px;  
    outline: none; 
}