

.mainwrapper {
    height: 100vh; 
    
}

.wrapper {
    margin: 0; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
    height: 100%; 
}

.list {
    position: relative; 
    display: flex; 
    height: 40%; 
    align-items: flex-end;   
    justify-content: center; 
}